.Link {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    width: 300px;
    height: 90px;
    border-radius: 50px;
    border: solid 1px #333;
    text-align: center;
    line-height: 90px;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    margin-bottom: 24px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    position: relative;
    &:hover {
      background-color: skyblue;
    }
  }
}

@media screen and (max-width: 550px) {
  .Link {
    p {
      width: 250px;
      height: 90px;
    }
  }
}
