// .profile{
//     background-color: #F3F3F3;
// }



.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}
.icon{
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #939393;
    position: relative;
    top: 0;
    // -- 高さ・幅設定
    width: 250px;
    height: 250px;
    // --
    img{
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        top:0;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
    // -- 高さ・幅設定
    width: 250px;
    height: 250px;
    // --
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        top: 250px;
        left: 0px;
        transition: .3s ease;
        // opacity: 0;
    }
    // &:hover{
    //     a{
    //         position: relative;
    //         top: 0px;
    //         left: 0px;
    //         transition: .2s ease;
    //         opacity: .8;
    //         color: #333;
    //         font-size: 2rem;
    //     }    
    // }
}
.info{
    max-width: 470px;
    padding: 24px;
    .name{
        h2{
            font-size: 4rem;
            margin: 24px 0;
        }
        .school{
            font-size: 1.8rem;
        }
        .course{
            font-size: 1.4rem;
        }
    }
    .myProfile{
        a{
            text-decoration:underline;
            color: #333;
            margin-right: 12px;
        }
    }
}


.br{
    display: none;
}


@media screen and (max-width:960px) {
    .icon{
        border: solid 2px skyblue;
        }
    .info{
        min-width:200px;
        .name{
            h2{
                font-size: 2.4rem;
            }
            .school{
                font-size: 1.6rem;
            }
            .course{
                margin: 12px 0;
                font-size: 1.4rem;
                span{
                    font-size: 1.2rem;
                    font-weight: lighter;
                }
            }
        }
    }



    .br{
        display: block;
    }
}


@media screen and (max-width:400px) {
    .container{
        width: 100%;
        flex-direction: column;
            padding: 40px 0;
        .icon{
            margin: 12px;
        }
        .info{
    
            text-align: center;
        }
    }

    
}



