.loading{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    font-weight: bold;
    z-index: -3;
    &__text{
        width: 210px;
        overflow: hidden;
        white-space: nowrap;
        border-right: solid 2px #333;
        transition: 1s ease-in-out;
        opacity: 1;
        animation:typing 2s steps(22), blink 0.5s step-end infinite alternate;
    }
}
// ローディングエフェクト
@keyframes typing{
    from{
        width:0;
    }
}
@keyframes blink{
    50%{/* 効果のタイミング */
        border-color: transparent;/* 透明にする */
    }
}

// ---
header{
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #fff;
    z-index: 999;
    .title{
        width: 500px;
        height: 100%;
        margin: 0 auto;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        .logo{
            font-size: 4rem;
            line-height: 3.5rem;
            letter-spacing: .5rem;
    
        }
        .subTitle{
            letter-spacing: .5rem;
            font-size: 1.4rem;
            font-weight:lighter ;
        }
    
    
    }
    .Nav{
        width: auto;
        height:100%;
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        span{
            width: 40px;
            height: 3px;
            display: block;
            border-radius: 5px;
            background-color: #333;
            &:nth-child(2){
                margin: 12px 0;
            }
        }
    }
}
// ---
.wrapper{
    width:100%;
    height:100vh;
    background-image: url("../img/kumo37.png");
    background-size: cover;
    background-position: center;

    padding-top: 10vh;
    position: relative;
    z-index: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display:none;
    }
    // &::after{
    //     content:"";
    //     display: block;
    //     width: 50%;
    //     height: 50%;
    //     border-radius: 50%;
    //     z-index: -1;
    //     position: fixed;
    //     top: 25%;
    //     left: 25%;
    //     background-color: plum;
    // }
}
// ---
.main{
    background-color: rgba(255, 255, 255, 0.7);
    
    section{
        padding: 120px 0;
        &:first-child{
            margin-top: 90vh;
        }
        // &:nth-child(2){
        //     padding: 40px 0;
        // }
        // &:last-child{
        //     padding: 40px 0 20vh;
        // }
        h2{
            font-size: 6rem;
            letter-spacing: .3rem;
            text-align: center;
            margin: 12px 0 40px;
            &::first-letter{
                color: skyblue;
            }
        }
        .mail{
            font-size: 2.8rem;
            text-align: center;
        }
    }
}
// ---

.Work{
    width:1000px;
    height: auto;
    display: grid;
    margin: 0 auto;
    padding: 12px;
    gap:58px;
    // grid-template-rows: repeat(2,minmax(150px, 270px));
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr ;
    &__item{
        border: solid 1px #333;
        background-color: #fff;
        box-shadow: 10px 10px 0px lightblue;
        transition: .2s ease-in-out;
        &:hover{
            transform: translateX(-2px) translateY(-5px);
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            // border-bottom: solid 1px #999;
            img{
                padding: 32px;
            }
        }
        .WorkAbout{
            padding: 8px;
            width: 100%;
            height: auto;
            .name{
                display: flex;
                align-items: center;
                p{
                    background-color: lightblue;
                    color: #fff;
                    margin-right: 12px;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 8px;
                }
            }
            .concept{
                height: 50px;
                line-height: 50px;
                padding: 0 8px;
            }
        }
    }
}
.Link{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        width:20vw;
        height:90px;
        border-radius: 50px;
        border: solid 1px #333;
        text-align: center;
        line-height: 90px;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: .5rem;
        margin-bottom: 24px;
        cursor: pointer;
        transition: .3s ease-in-out;
        position: relative;
        &:hover{
            background-color: skyblue;
        }
    }
}





footer{
    width: 100%;
    height: 7vh;
    line-height: 7vh;
    text-align: center;
    color: #fff;
    background-color: #333;
}
